.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 50px;
  box-sizing: border-box;
  border-radius: 25px;
}

.skills-wrapper {
  width: 100%;
}

.skills-typewriter-wrapper {
  display: inline-block;
  height: 40px;
  font-size: 32px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
}

.skills-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.dashed-list, .nested-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashed-list > li, .nested-list > li {
  position: relative;
}

.dashed-list > li {
  margin: 15px 0;
  font-size: 18px;
}

.dashed-list > li::before, .nested-list > li::before {
  content: "-";
  margin-right: 5px;
  position: absolute;
  left: -15px;
}

.nested-list {
  padding-left: 20px;
  width: 85%;
}

.nested-list > li {
  margin: 8px 0;
  font-size: 16px;
}

.list-button {
  display: inline-block;
  margin: 5px 0; 
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.list-button:focus {
  outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .skills-card-container > div {
    width: 30%; 
    height: auto; 
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .skills-card-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-card-container > div {
    margin-bottom: 20px;
    width: 100%;
  }

  .skills-wrapper {
    width: auto;
  }

  .skills-typewriter-wrapper {
    white-space: normal;
    height: 80px;
  }
}

