.home-container {
    display: flex;
    flex-direction: column; /* Располагаем элементы в колонку */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    height: calc(100vh - 200px);

}

.home-wrapper {
    min-width: 40%;
    width: 80%;
}

.home-content-left {
    text-align: left; /* Центрируем текст по центру */
}

.home-title {
    font-size: 64px;
    margin: 0;
    font-weight: 600;
    
}

.home-typewriter-wrapper {
    display: inline-block;
    height: 40px; /* Установите минимальную высоту для фиксации размера контейнера */
    font-size: 32px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: blink-caret 0.75s step-end infinite;
}

.home-description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

@keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
}

