.navbar {
  position: fixed;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 60px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 99;
  background: transparent; 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.navbar-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

.navbar a {
  color: white;
  text-decoration: none; 
  padding: 7px 16px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .navbar {
    width: calc(100% - 20px); 

  }
}