.app-container {
  position: relative;
  background: black; 
  min-height: 100vh; 
}

.app-content {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%, /* Начало плавного перехода */
      rgba(0, 0, 0, 0.7) 10%, /* Переход от черного цвета */
      rgba(0, 0, 0, 0.3) 30%, /* Плавный переход к прозрачности */
      rgba(0, 0, 0, 0.3) 70%, /* Переходная зона прозрачности */
      rgba(0, 0, 0, 0.7) 90%, /* Переход к черному цвету снизу */
      rgba(0, 0, 0, 1) 100% /* Конец плавного перехода */
    ),
    url('./assets/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.contact-me-background {

  display: flex;
  justify-content: center;
  align-items: flex-end; /* Выравнивание содержимого по нижнему краю */
  
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 1%, 
    rgba(0, 0, 0, 0.5) 50%, 

    rgba(0, 0, 0, 1) 65% 
  );

  height: 70vh;
}

@media screen and (max-width: 768px) {
  .app-content {
    padding: 50px; 
  }

  .contact-me-background {
    height: 50vh; 
  }
}