.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.5); 
}

.about-me-wrapper {
  display: flex;
  min-width: 40%;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative; 
}

.about-me-img-content {
  flex: 1;
  position: relative;
}

.about-me-img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-me-img-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.about-me-text-content {
  flex: 2;
  padding: 0 50px;
}

.about-me-description {
  line-height: 1.5;
  margin-top: 20px;
}

.about-me-why-me {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
}

.about-me-line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 20px 0;
}

.about-me-why-me-container {
  display: flex;
  flex-direction: column;
}

.about-me-why-me-container p {
  font-size: 16px;
  margin: 5px 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-me-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-me-img-content {
    flex: 0;
  }

  .about-me-text-content {
    flex: 1;
    padding: 0;
  }

  .about-me-description {
    text-align: left;
    margin-top: 0;
  }

  .about-me-why-me-container {
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .about-me-wrapper {
    flex-direction: column-reverse;
  }

  .about-me-container {
    padding: 20px;
  }

  .about-me-img-content {
    height: auto;
    flex: 1;
  }

  .about-me-text-content {
    padding: 20px 0;
  }
}
